{% extends "base.html" %}
{% block content %}
    <form action="/" method="POST">
        {% csrf_token %}
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button>Submit</button>

        <p>Don't have an account? Sign up <a href="signup">here!</a></p>
    </form>

    {% if admin %}
        <p>Welcome Admin</p>
        <meta http-equiv="refresh" content="2; url=/admin"/>
    {% endif %}

    {% if signup_success %}
        <p>Sign Up Success</p>
        <p>Logging In</p>
        <meta http-equiv="refresh" content="2; url=/messages"/>
    {% endif %}

    {% if error %}
    <p>Invalid credentials</p>
    {% endif %}
{% endblock content %}