{% extends "base.html" %}
{% block content %}    
    <h1>Message Board</h1>
    <h3>Welcome {{user.username}}</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post Message</button>
    </form>

    <h2>Messages:</h2>
    <ul>
        {% for message in messages %}
            <li>{{ message.id }}: {{ message.user.username }}: {{ message.text }}</li>
            <form method="POST" action="{% url 'delete' message.id %}"  onsubmit="return confirmDelete();">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endfor %}
</ul>

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this message?");
    }
</script>
    </ul>
    <a href="login">Logout</a>
{% endblock content %}